
#status,#number_of_objects
{
    margin-top: 17px;
font-size: 17px;
background:black;
color: white;
border-color: white;
border-width: 3px;
border-radius: 20px;
}

body {
    background-size: cover;
    background-position: center;
}

.btn-info {
    width: 75%;
    font-size: 30px;
    box-shadow: 5px 5px 18px black;
    background:rgb(0, 2, 34);
color: white;
border-color: white;
border-width: 3px;

}

canvas {
    box-shadow: 10px 10px 10px black;
    margin-top: 60;
    border-color: white;
border-width: 3px;
border-radius: 20px;
border-style: solid;
}